
a:link    {color:#fb3939; background-color:transparent; text-decoration:none; white-space: nowrap}
a:visited {color:#fb3939; background-color:transparent; text-decoration:none; white-space: nowrap}
a:hover   {color:#fb3939; background-color:transparent; text-decoration:none; white-space: nowrap}
a:active  {color:#fb3939; background-color:transparent; text-decoration:none; white-space: nowrap}

.bg-faded{
    background-color: #ffffff;
}
body{
    background-color: #f3f3f3;
}
.navbar-light .navbar-nav .nav-link{
    color: #666666;
}
.navbar-light .navbar-brand, .navbar-light .navbar-toggler{
    color: #fb3939;
}
.navbar{
    box-shadow: 0 0 20px #ff1b1b;
}
.main{
    padding-top:100px;
    margin-top:100px;
    background-color: #ffffff;
    padding-bottom: 50px;
    box-shadow: 0 0 20px #ff1b1b;
}
.centered-image{
    display: block;
    margin: 0 auto;
}
.yukin-avatar{
    border-radius: 50%;
}
.links{
    padding-top:100px;
}
.yukin-link{
    font-size: 26px;
    padding:8px;
    color:#fb3939;
    border:3px solid #fb3939;
    -webkit-transition: background-color 300ms,color 300mss; /* For Safari 3.1 to 6.0 */
    transition: background-color 300ms,color 300ms;
    white-space: nowrap
}
.yukin-link:hover{
    text-decoration: none;
    color:#ffffff;
    background-color: #fb3939;
    white-space: nowrap
}
.permContent{
    padding-left:50px;
    padding-right:50px;
}
#permHeader{
    color:#fb3939;
    font-size: 50px;
    padding-bottom: 20px;
}
#permText{
    font-size: 26px;
}